/Individual assignment.docx
/Individual assignment.pdf
Progress Report 2. Signed.pdf
Progress Report Template 2.pptx
Roda2Go Business Idea.pdf
G1_BUSINESS PLAN.pdf
Group27_Madam Hezlina_Business Plan.pdf
Peer Review Self Reflection Template (3).docx
Pricing Survey.xlsx
Vid Pitch Link.pdf
Progress Report Template 3.pdf